:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius: 30px;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}

.header {
  display: flex;
  width: 100%;
  height: 50%;
  background-size: cover;
  background-image: url(https://uupload.ir/files/kx18_hbdbackground.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}
.gallery {
  margin-top: 78px;
  display: grid;
  grid-gap: 10px;
  height: 100vh;
}

.gallery img {
  object-fit: fill;
  width: 100%;
  border-radius: 5px;
}
.gallery img:nth-of-type(3) {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.photooo {
  background-color: #adcbe3;
  width: 100%;
  height: 30px;
}
.gallery img:nth-of-type(4) {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}
.title {
  padding: 5px;
  border: 2px solid #4a4e4d;
  white-space: nowrap;
  font-size: 30px;
  margin-top: 40px;
  color: #4a4e4d;
  font-family: "Lobster", Arial, Helvetica, sans-serif;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button--container {
  width: 100%;
  height: 50%;
  position: relative;
  background: #f4b6c2;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.videogallery {
  border-radius: 5px;
  background-color: #fe8a71;
  position: relative;
  width: 100%;
  height: 50%;
}
video {
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn {
  font-family: "Architects Daughter", Arial, Helvetica, sans-serif;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn--center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn--up {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn--down {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn--primary {
  background: black;
  color: #fff;
}
h2 {
  display: block;
}
@keyframes boxani {
  0% {
  }
  50% {
    transform: scale(1.2);
  }
}
.box-container {
  position: relative;
  background-color: #adcbe3;
  width: 100vw;
  height: 50vh;
}
.you {
  font-size: 30px;
  font-weight: bold;
}
.box {
  font-family: "Architects Daughter", Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 5px;
  width: 180px;
  height: 100px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 28%;

  padding-left: 5px;
  background-color: #f4b6c2;
  animation: boxani 3s infinite;
}
